<div>
    <h2>Instellingen</h2>
    <table style="margin: 0px auto; ">
        <tr>
            <th></th>
            <th>Hout</th>
            <th>Mazout</th>
        </tr>
        <tr *ngFor="let doubleSwitchComponent of switchTable">
            <td>{{doubleSwitchComponent.componentName}}</td>
            <td>
                <kendo-switch [(ngModel)]="doubleSwitchComponent.checked1"
                              [disabled]="doubleSwitchComponent.disabled1" 
                              (valueChange)="doubleSwitchComponent.switch1()">
                </kendo-switch>
            </td>
            <td>
                <kendo-switch [(ngModel)]="doubleSwitchComponent.checked2"
                              [disabled]="doubleSwitchComponent.disabled2"
                              (valueChange)="doubleSwitchComponent.switch2()">
                </kendo-switch>
            </td>
        </tr>
    </table>
    <br />
    <table style="margin: 0px auto; ">
        <tr *ngFor="let numberBoxComponent of numberTable">
            <td>{{numberBoxComponent.componentName}}</td>
            <td>
                <kendo-numerictextbox [(ngModel)]="numberBoxComponent.value"
                                      [autoCorrect]="autoCorrect"
                                      [min]="CVSetupTemp1_min"
                                      [max]="CVSetupTemp1_max"
                                      (valueChange)="numberBoxComponent.changeValue()"></kendo-numerictextbox>
            </td>
        </tr>
     </table>



   <table style="margin: 0px auto; "><tr><td style="width: 60%" >
     <kendo-chart style="overflow: hidden; height : 100%">
            <kendo-chart-value-axis>
                    <kendo-chart-value-axis-item [title]="{ text: 'Water temp' }"
                                                 [min]="35" [max]="70">
                    </kendo-chart-value-axis-item>
                </kendo-chart-value-axis>

                <kendo-chart-category-axis>
                        <kendo-chart-category-axis-item [title]="{ text: 'Buiten temp' }"[categories]="stookLijnen[0].getCategories()">
                        </kendo-chart-category-axis-item>
                    </kendo-chart-category-axis>


            <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
            <kendo-chart-series>
                <kendo-chart-series-item *ngFor="let serie of stookLijnen"
               type="line"  [data]="serie.getData()" >
                </kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
        </td>
        <td>


        <table style="margin: 0px auto; ">
                <tr>
                    
                    <th>Buitentemp</th>
                    <th>Watertemp</th>
                </tr>
      
      
                    <tr *ngFor="let serie of stookLijnen">
                        
                  
                            <td>
                            <kendo-numerictextbox [(ngModel)]="serie.min.x"
                                                  [autoCorrect]="autoCorrect"
                                                  (valueChange)="changeSettingX1()"></kendo-numerictextbox>
                                                </td>
                            <td>
                            <kendo-numerictextbox [(ngModel)]="serie.min.y"
                            [autoCorrect]="autoCorrect"
                            (valueChange)="changeSettingY1()"></kendo-numerictextbox>
                        </td>
     
                        <tr *ngFor="let serie of stookLijnen">
                   
                            <td>
                         <kendo-numerictextbox [(ngModel)]="serie.max.x"
                                               [autoCorrect]="autoCorrect"
                                               (valueChange)="changeSettingX2()"></kendo-numerictextbox>
                                             </td>
                                         <td>
                         <kendo-numerictextbox [(ngModel)]="serie.max.y"
                         [autoCorrect]="autoCorrect"
                         (valueChange)="changeSettingY2()"></kendo-numerictextbox>
                     </td>


                    </tr>
                    <!-- <tr><br></tr>
                    <tr *ngFor="let serie of stookLijnen">
                        <td colspan="2">
                                Buffer marge: <kendo-numerictextbox [(ngModel)]="serie.min.x"
                                [autoCorrect]="autoCorrect"></kendo-numerictextbox>
                        </td>
                    </tr>
                    <tr *ngFor="let serie of stookLijnen">
                            <td colspan="2">
                                    Sanitair water: <kendo-numerictextbox [(ngModel)]="serie.min.x"
                                    [autoCorrect]="autoCorrect"></kendo-numerictextbox>
                            </td>
                        </tr> -->
                    </table>
                    </td></tr>
    </table>


    <table style="margin: 0px auto; ">
            <tr>
                <th></th>
                <th>Mazout</th>
                <th>Hout</th>
            </tr>

            <tr>
                <td>
                    Bruno & Sandy - Verwarming
                </td>
                <td>
                    <app-parameter-display [exportParameter]="settingList[0]"></app-parameter-display>
                </td>
                <td>
                    <app-parameter-display [exportParameter]="settingList[1]"></app-parameter-display>
                </td>
            </tr>

            <tr>
                <td>
                    Bruno & Sandy - Warm water
                </td>
                <td>
                    <app-parameter-display [exportParameter]="settingList[2]"></app-parameter-display>
                </td>
                <td>
                    <app-parameter-display [exportParameter]="settingList[3]"></app-parameter-display>
                </td>
            </tr>

            <tr>
                <td>
                    Tommy - Verwarming
                </td>
                <td>
                    <app-parameter-display [exportParameter]="settingList[4]"></app-parameter-display>
                </td>
                <td>
                    <app-parameter-display [exportParameter]="settingList[5]"></app-parameter-display>
                </td>
            </tr>
            <tr>
                <td>
                    Tommy - Warm water
                </td>
                <td>
                    <app-parameter-display [exportParameter]="settingList[6]"></app-parameter-display>
                </td>
                <td>
                    <app-parameter-display [exportParameter]="settingList[7]"></app-parameter-display>
                </td>
            </tr>
        </table>


        <table style="margin: 0px auto; ">
                <tr>
                    <th>Buitentemp</th>
                    <th>Watertemp</th>
                </tr>
                <tr>
                    <td>
                        <app-parameter-display [exportParameter]="tempSettingList[0]"></app-parameter-display>
                    </td>
                
                    <td>
                        <app-parameter-display [exportParameter]="tempSettingList[1]"></app-parameter-display>
                    </td>
                </tr>
    
                <tr>
                    <td>
                        <app-parameter-display [exportParameter]="tempSettingList[2]"></app-parameter-display>
                    </td>
                    <td>
                        <app-parameter-display [exportParameter]="tempSettingList[3]"></app-parameter-display>
                    </td>
                </tr>
    
            </table>
      




</div>