<div>
   
  <h2>Info</h2>
     


  <ul style="list-style-type: none;" class="tempTable">
 <li *ngFor="let temperatureParameter of temperatureList">
        <app-parameter-display [exportParameter]="temperatureParameter"></app-parameter-display>

 </li>
</ul>

<ul style="list-style-type: none;" class="tempTable">
    <li *ngFor="let pumpParameter of pumpList">
           <app-parameter-display [exportParameter]="pumpParameter"></app-parameter-display>
   
    </li>
   </ul>

   <ul style="list-style-type: none;" class="tempTable">
        <li *ngFor="let regimeParameter of regimeList">
               <app-parameter-display [exportParameter]="regimeParameter"></app-parameter-display>
       
        </li>
       </ul>

</div>