<div>
    <h3>Bruno & Sandy</h3>

    <table  style="margin: 0px auto; ">
        <tr *ngFor="let labelComponent of counterTable1">
            <td>{{labelComponent.componentName}}</td>
            <td>{{labelComponent.getValue()}}</td>
        </tr>
    </table>
<br>
    <h3>Tommy</h3>
    <table  style="margin: 0px auto; ">
        <tr *ngFor="let labelComponent of counterTable2">
            <td>{{labelComponent.componentName}}</td>
            <td>{{labelComponent.getValue()}}</td>
        </tr>


 </table>


</div>