<div style="overflow: hidden;height : 100%" >
 
       

    <kendo-chart style="overflow: hidden; height : 100%">
        <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
        <kendo-chart-series>
            <kendo-chart-series-item *ngFor="let serie of tempGraph"
           type="line" style="smooth" [data]="serie.getData()" [name]="serie.name">
            </kendo-chart-series-item>
        </kendo-chart-series>
    </kendo-chart>
<!--  <div *ngFor="let item of tempGraph">
    <input type="checkbox" [(ngModel)]="item.visible">{{item.name}}<br>
</div>--> 
</div>